#calculator{
    border:1px solid rgb(2, 29, 10);
    border-radius: 5px;
    
    width: 220px;
    height: 420px;
    background-color: rgb(194, 210, 225);

}
#display{
    margin: 10px;
    width: 190px;
    height: 40px;
    font-size: 20px;
    border-color: blueviolet; 

    /* column-gap: normal;    */
}
  
.buuton_container{
margin:80px;
height: 80px;
/* justify-content: center; */




}
.button{

    width: 51px;
    height: 40px;
    margin: 9px;
    border-radius: 5px;
    
    font-size: large;
    /* justify-content: left; */

    
}